/* You can add global styles to this file, and also import other style files */
/*  https://openbase.io/js/api-ai-javascript*/
.to {
    padding: 15px;
    border-radius: 35px;
    background: #3498DB;
    margin-left: 50px;
    color:#fff;
    margin-bottom: 20px;
}
.from {
    padding: 15px;
    border-radius: 35px;
    background: #E5E7E9; 
    margin-bottom: 20px;
}
